body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f3ec78, #af4261);
    overflow-x: hidden;
}

.parallax {
    background-image: url('https://github.com/AdityaKumar0927/webdev_lab7/blob/6c00bbb3ba383a57b4b9bccf3f42e018c4b4829a/media/space-background.jpeg?raw=true');
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #ff6f61;
    color: white;
    padding: 50px 0;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 3rem;
    margin: 0;
}

p {
    font-size: 1.2rem;
    font-style: italic;
}

.table-container {
    padding: 50px;
    margin: auto;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.planet-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th, td {
    border: 2px solid #222;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: #000;
}

th {
    background-color: #ffdd57;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

tbody tr {
    background-color: #9b59b6;
    color: white;
}

tbody tr:hover {
    background-color: #f39c12;
}

tbody img {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
}

a {
    color: #ffdd57;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    
    header {
        padding: 30px 0;
    }
    
    .table-container {
        padding: 20px;
    }
    
    th, td {
        padding: 10px;
    }
}
